
// direction
.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

// wrap
.flex-wrap {
  flex-wrap: wrap;
}

.gap-3 {
  gap: $spacing-3;
}

.gap-4 {
  gap: $spacing-4;
}

// align
.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-self-end {
  align-self: flex-end;
}