*, *::before, *::after {
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.2;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: .2s;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.material-symbols-outlined {
  vertical-align: middle;
}

.container-fluid {
  width: 100%;
}

.container {
  max-width: $width-xl;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}